MONGODB_URI=mongodb+srv://ehizkendrickk_db_user:<db_password>@cluster0.8qxrh7p.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=pulsebet
JWT_SECRET=
PAYSTACK_SECRET_KEY=
PAYSTACK_CALLBACK_URL=http://localhost:5173/
SPORTSDB_API_KEY=123
SPORTMONKS_API_TOKEN=
SPORTMONKS_ROUND_ID=372147

